
* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
}

.contain {
    border: 2px solid black;
    position: relative;
}

a {
    position: relative;
}

h1 {
   margin-top: .5em;
   position: relative;
   z-index: 6;
   font-size: 2.5em;
}

#under {
    text-decoration: underline;
}

span {
    display: block;
    font-weight: 100;
    font-size: .45em;

}

.grid {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template: 2fr 1fr 1fr / repeat(4, 1fr);
    border: 2px solid #000;
    border-bottom: none;
}

.grid-two {
    height: 300px;
    display: grid;
    width: 100vw;
    border: 2px solid #000;
    grid-template: 2fr 1fr 1fr / repeat(4, 1fr);
    border-top: none;
}

.a {
    grid-area: 1/1/4/2;
    background-image: url(img/yellow-potato.jpg);
    background-position: center;
    background-size: cover;
}

.b {
    grid-area: 1/2/3/4;
    text-align: center;
    font-size: 1.25em;
    overflow: hidden;
}

.hero {
    width: 135%;
    height: 135%;
}

.top {
    position: absolute;
    height: 150%;
    left: -10%;
    top: -38%;
}

.middle {
    position: absolute;
    left: -10%;
    top: 5%;
    z-index: 8;
}

.bottom {
   position: absolute;
   left: -10%;
   bottom: -74%;
   z-index: 9;
}

.sun {
    height: auto;
    width: 200px;
    position: absolute;
    top:75%;
    left: 40%;
    transform: translateX(-50%);
    z-index: 7;
}

.logo {
    height: auto;
    width: 50px;
    display: inline-block;
    margin: 0 .5em;
}

.c {
    grid-area: 1/4/3/5;
    background-image: url(img/purp-potato.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    overflow: hidden;
}

.d {
    grid-area: 3/2/3/6;
    background-image: url(img/red-potato.png);
    background-position: bottom;
    background-size: cover;
    overflow: hidden;
}

.e {
    grid-area: 1/1/4/2;
    background-image: url(img/spuds.jpeg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.f {
    grid-area: 1/4/4/5;
    background-image: url(img/peel.jpg);
    background-position: bottom;
    background-size: cover;
    overflow: hidden;
}

.i {
    grid-area: 1/2/4/4;
    background-image: url(img/bag.png);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.i h2 {
    margin-top: 25px;
    width: 100%;
    text-align: center;
    align-self: flex-start;
    font-size: 3em;
    color: #62110a;
    text-shadow: 0 0 2px #fff;
}

.bucket {
    height: auto;
    width: 275px;
    align-self: flex-end;
}

.arrow1 {
    position: absolute;
    left:15%;
    top:20%;
    transform: rotate(-45deg);
    font-size: 3rem;
    text-shadow: 0 0 2px #fff;
    
}

.arrow2 {
    position: absolute;
    right:15%;
    top:20%;
    transform: rotate(45deg);
    font-size: 3rem;
    text-shadow: 0 0 2px #fff;
}


.sign {
    height: auto;
    width: 100%;
    position: absolute;
    bottom: -10px;
    z-index: 9;
    transform: translateY(100%);
    transition: transform ease-in-out 750ms;
}


.i:hover .sign {
    transform: translateY(0%);
}

.over {
    text-align: center;
    transition: transform ease-in-out 500ms;
}

.over h3 {
    font-size: 2em;
}

.over a {
    padding: 1em;
    text-decoration: none;
    color: #fff;
}

.over-yukon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    transform: translateX(-110%);
}

.contain:hover .over-yukon {
    transform: translateX(0%);
}

.over-red {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    transform: translateY(110%);
}

.contain:hover .over-red {
    transform: translateY(0%);
}

.over-purp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    transform: translateX(110%);
}

.contain:hover .over-purp {
    transform: translateX(0%);
}


.over-og {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    transform: translateX(110%);
}

.contain:hover .over-og {
    transform: translateX(0%);
}


.over-peel {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    transform: translateX(-110%);
}

.contain:hover .over-peel {
    transform: translateX(0%);
}

@media (max-width: 800px) {

    .i h2 {
        margin-top: 150px;
    }

    .bucket {
        width: 100%;
    }

    .arrow1,
        .arrow2 {
            display: none;
        }

    .sign {
        bottom: 75px;
        width: 100%;
    }

    .over h3 {
        font-size: 1em;
    }
    
    h1 {
     font-size: 2em;
     }

     .sun {
        left: 30%;
     }

     }

     @media (max-width: 650px) {

        .i h2 {
            margin-top: 85px;
            margin-bottom: 25px;
            font-size: 2.25rem;
        }
    
        .bucket {
            width: 100%;
        }
    
        .sign {
            bottom: 25px;
            width: 100%;
        }
    }
     @media (max-width: 500px) {

        .i h2 {
            margin-top: 50px;
        }
    
        .bucket {
            width: 100%;
        }
    
        .sign {
            bottom: -5px;
            width: 100%;
        }
    }